---
layout: default
---

<div class="row">
  <div class="col-md-4 col-lg-4 no-padding">
    <div class="background-landing">
      <div class="transparencia-landing">
        <img src="/images/logo.png">
        <h1>Universidad Platzi</h1>
        <p class="parrafo-titulo">Mejora tu futuro con los mejores profesionales de la Web!!</p>
        <a href="https://www.platzi.com" target="_blank" class="btn btn-success">Comienza tu carrera hoy</a>
        <p class="parrafo-redes">
          <a href="https://www.facebook.com" target="_blank" class="reset-link-color"><span class="icon-facebook2"></span></a>
          <a href="https://www.twitter.com" target="_blank" class="reset-link-color"><span class="icon-twitter"></span></a>
          <a href="https://plus.google.com" target="_blank" class="reset-link-color"><span class="icon-google-plus2"></span></a>
          <a href="https://www.youtube.com" target="_blank" class="reset-link-color"><span class="icon-youtube"></span></a>
          <a href="https://www.instagram.com" target="_blank" class="reset-link-color"><span class="icon-instagram"></span></a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-lg-8 ancho-home-derecha">
    {% include newsletter.html %}
    {% include navigation.html %}
    <h1 class="titulo-posts">Posts Recientes</h1>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        {% for post in site.posts %}
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="{{ post.image }}" alt="{{ post.title }}" width="160">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading gris-oscuro"><strong>{{ post.title | escape }}</strong></h4>
              <p class="verde-platzi">{{ post.date | date: "%b %-d, %Y" }}</p>
              <p class="gris-oscuro text-justify">{{ post.content | strip_html | truncate: 250, '...' }}</p>
              <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-success">Ver detalle »</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
