---
layout: default
---

<div class="row">
  <div class="col-md-12 col-lg-12">
    <!-- Sección encabezado del Post -->
    <div class="row encabezado-post">
      <div class="col-md-12 col-lg-12 no-padding">
        <div class="background-post" style="background: url('{{ page.image2 }}') no-repeat center;">
          <div class="transparencia-post">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Sección Newsletter  -->
    {% include newsletter.html %}
    <div class="row">
      <!-- Sección autor del Post -->
      <div class="col-md-3 text-center">
        <img src="{{ page.avatar }}" alt="{{ page.author }}" width="100" class="author-avatar"/>
        <p>{{ page.author }}</p>
        <p><a href="{{ page.url_social }}" target="_blank">@{{ page.social }}</a></p>
      </div>
      <!-- Contenido del Post -->
      <div class="col-md-6 col-lg-6 content-blog">
        <p class="blog-post-date"><span class="glyphicon glyphicon-calendar"></span> {{ page.date | date: "%b %-d, %Y" }}</p>
        <!-- Bótones de compartir en redes sociales -->
        <div class="row text-center">
          <div class="col-md-3">
            <div class="fb-share-button" data-href="https://brolyssjl.github.io/blog-universitario" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbrolyssjl.github.io%2Fblog-universitario&amp;src=sdkpreparse">Compartir</a></div>
          </div>
          <div class="col-md-3">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://brolyssjl.github.io/blog-universitario" data-lang="es" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="col-md-3">
            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: es_ES</script>
            <script type="IN/Share" data-url="https://brolyssjl.github.io/blog-universitario"></script>
          </div>
          <div class="col-md-3">
            <div class="g-plus" data-action="share" data-annotation="none" data-href="https://brolyssjl.github.io/blog-universitario"></div>
          </div>
        </div>
        <hr></hr>
        <!-- Contenido del Post -->
        <p>{{ content }}</p>
        <div class="fb-comments" data-href="https://brolyssjl.github.io/blog-universitario" data-mobile="true" data-numposts="5"></div>
      </div>
      <!-- Botón regresar Inicio -->
      <div class="col-md-3 text-center">
        <a href="{{ "/" | prepend: site.baseurl }}" class="btn btn-info btn-regresar"><span class="glyphicon glyphicon-chevron-left"></span> Regresar</a>
      </div>
    </div>
  </div>
</div>
<div class="row border-footer">
  <div class="col-md-6 col-offset-3 col-lg-6 col-lg-offset-3">
    <!-- Pie de página -->
    {% include footer.html %}
  </div>
</div>
